* { margin: 0; padding: 0; }
body { font-size: 9pt; font-family: Verdana; }
h1{font-size:15pt;}
h2{font-size:13pt;}
table td {border: 1px solid black;}
table.hidden_lines td{border:0;}
table.hidden_lines td{text-align:center; padding:3px 6px 3px 0;}
.clearfix{clear:both;}

.header_journal_list{margin:0 0 0 20px;}
.header_title{float:left;}
.header_user_block{float:right;}
.header_user_block .User_Menu div{float:left; margin:0 5px 0 5px;}

div.content-wrap{margin:10px;}


